*.pyc
twistd.pid
oms.db
*~
/db/
.DS_Store
/db_*
*.egg-info
*.egg
RELEASE-VERSION
eggs
develop-eggs
eggnest/*.cfg
parts
bin
.installed.cfg
docs/Makefile
docs/make.bat
docs/html
docs/doctrees
installer/oms_roles
installer/oms_passwd
.mr.developer.cfg
build
