# Eclipse/PyDev
.project
.pydevproject

# Idea/PyCharm
*.iml
.idea

# Max OS
.DS_Store

# Buildout
*.egg-info
*.egg
RELEASE-VERSION
eggs
develop-eggs
eggnest/*.cfg
parts
bin
.installed.cfg
.mr.developer.cfg

# Build and run artifacts
docs/Makefile
docs/make.bat
docs/html
docs/doctrees
installer/oms_roles
installer/oms_passwd
installer/omsdrc
build
.coverage

*.pyc
oms.db
/db/
/db_*
twistd.pid
*.log

# Virtualenv
venv

# Misc
.*.swp
*.orig
*~

