[buildout]
develop = .
parts = python scripts 

find-links = http://shell.research-infrastructures.eu/~marko.mikulicic/eggs/
include-site-packages = false 
exec-sitecustomize = false

extensions =
    buildout.eggnestdev
eggnest-parts =
    python
    scripts
eggnest-src-directory = eggnest

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = opennode.oms.core

[scripts]
recipe = zc.recipe.egg:scripts
eggs = opennode.oms.core
       nose
       mock
