html { 


background: #dd935a; /* Old browsers */
background: -moz-linear-gradient(left, #dd935a 0%, #6d0019 89%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#dd935a), color-stop(89%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #dd935a 0%,#6d0019 89%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #dd935a 0%,#6d0019 89%); /* Opera11.10+ */
background: -ms-linear-gradient(left, #dd935a 0%,#6d0019 89%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd935a', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 */
background: linear-gradient(left, #dd935a 0%,#6d0019 89%); /* W3C */
}

body { margin: 0; padding: 0;}

h1 {
  font-family: "Helvetica";
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 38px;
  padding:12px;
  background-color: #f3f1e5;
  color: #624132;

-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;

-webkit-box-shadow: 2px 2px 2px 0px #000000;
-moz-box-shadow: 2px 2px 2px 0px #000000;
box-shadow: 2px 2px 2px 0px #000000;
}

#box {
  margin-left: 20px;
  margin-right: 20px;     
}

#box .filler { 
  background-color: black;
  padding: 4px;
  padding-right: 8px;

  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}

h3 { 
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  background-color: #E5DAD6;
  height: 18px;
  margin: 0;
  padding: 8px;
  padding-left: 12px;
  font-family: "Monaco";
  font-size: 10pt;
  color: #b24132;

 }

h1 .choice { 
 float: right;
 margin-top: -4px;
}

input.parameters { 
  border: 1px solid #ccc;
  height: 14px;
}

input.parameters[name="user"] { width: 80px; }
input.parameters[name="host"] { width: 260px; }

#vt100  {
          height: 200px;
}


